html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 4rem 0;
}

nav ::after {
  content: '';
  background-image: url(../images/header-background-image.png);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

nav h1 {
  font-size: 3rem;
  font-family: 'Bitter', sans-serif;
  font-weight: normal;
  line-height: 3rem;
  color: #34701c;
  text-transform: uppercase;
}

nav img {
  height: 4rem;
}

.loading-content {
  position: fixed;
  top: 9rem;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  z-index: 5;
}

.loading-content .loading-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loading-content .loader {
  margin-top: 10rem;
  position: fixed;
  border: 1.6rem solid #dfdfdf;
  border-radius: 50%;
  border-top: 1.6rem solid #63954f;
  width: 12rem;
  height: 12rem;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.totals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.totals a {
  text-decoration: none;
  color: #f7f7f7;
  font-size: 1.4rem;
  font-family: 'Heebo', sans-serif;
}

.totals a .view-by-country {
  display: inline-block;
  background-color: #34701c;
  padding: 0.6rem 2.2rem;
  margin-bottom: 4rem;
}

.totals h2 {
  width: 90%;
  color: #34701c;
  font-size: 1.4rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}

.totals .world-report {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
  border-bottom: 1px solid #34701c;
}

.totals .world-report .world-data {
  font-size: 1.2rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  color: #333;
  text-align: right;
}

.totals .world-report .world-data .world-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.totals .world-report .world-data .world-label .world-number {
  margin-left: 1rem;
  color: #63954f;
}

.totals .world-report .world-image img {
  width: 12rem;
  height: 12rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.totals .country-name {
  text-align: right;
  margin-top: 4rem;
}

.totals .country-report {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
  border-bottom: 1px solid #34701c;
  margin-bottom: 4rem;
}

.totals .country-report .country-data {
  font-size: 1.2rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  color: #333;
  text-align: right;
}

.totals .country-report .country-data .country-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.totals .country-report .country-number {
  margin-left: 1rem;
  color: #63954f;
}

.totals .country-report .country-error {
  width: 100%;
  font-size: 2rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  color: #63954f;
  text-align: center;
  margin-bottom: 5rem;
}

.deaths-by-age {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.deaths-by-age .deaths-by-age-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  border-bottom: 1px solid #34701c;
}

.deaths-by-age .deaths-by-age-container .deaths-by-age-title {
  width: 100%;
  text-align: center;
  color: #34701c;
  font-size: 1.4rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
}

.deaths-by-age .deaths-by-age-container .range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

.deaths-by-age .deaths-by-age-container .range .range-number {
  color: #63954f;
}

.search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4rem;
}

.search .search-form .form-group {
  padding: 1rem 2rem;
  width: auto;
  border: 2px solid #34701c;
  position: relative;
}

.search .search-form .form-group > label {
  position: absolute;
  top: -1rem;
  left: 0.5rem;
  padding: 0 0.6rem;
  color: #63954f;
  background-color: #f7f7f7;
  font-size: 1.1rem;
  font-family: 'Noto Sans', sans-serif;
  text-transform: uppercase;
}

.search .search-form input {
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-family: 'Noto Sans', sans-serif;
  background-color: #f7f7f7;
  margin-left: 1rem;
}

.search .search-form ::-webkit-input-placeholder {
  color: #34701c;
}

.search .search-form :-ms-input-placeholder {
  color: #34701c;
}

.search .search-form ::-ms-input-placeholder {
  color: #34701c;
}

.search .search-form ::placeholder {
  color: #34701c;
}

.refresh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 4rem;
}

.refresh .refresh-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 90%;
}

.refresh .refresh-left .last-refresh-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9rem;
  font-family: 'Noto Sans', sans-serif;
  color: #63954f;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.refresh .refresh-left .refresh-button {
  background-color: #34701c;
  color: #f7f7f7;
  outline: none;
  border: none;
  font-family: 'Noto Sans', sans-serif;
  width: 10rem;
  height: 3rem;
  cursor: pointer;
}

.refresh .refresh-right {
  font-size: 0.9rem;
  font-family: 'Noto Sans', sans-serif;
  color: #63954f;
  font-weight: bold;
  text-align: right;
  margin-bottom: 0.5rem;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #63954f;
  margin: 0.5rem 2rem;
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
}

.table .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
}

.table .header-container .header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  scroll-snap-align: start;
}

.table .header-container .header {
  min-width: 8rem;
  max-width: 8rem;
  height: 3rem;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  padding: 0 0.5rem;
  cursor: pointer;
  border: 1px solid #63954f;
  background-color: #f7f7f7;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
}

.table .header-container .header .order {
  padding-left: 1rem;
}

.table .header-container .header .order img {
  width: 1rem;
}

.table .data-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
}

.table .data-container .data-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  scroll-snap-align: start;
}

.table .data-container .data-row .cell {
  min-width: 8rem;
  max-width: 8rem;
  height: 3rem;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 1px solid #63954f;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
}

.data-row:nth-child(odd) {
  background-color: #99c189;
}

.data-row:nth-child(even) {
  background-color: #f7f7f7;
}

.error-message {
  width: 100%;
  font-size: 3rem;
  margin-top: 2rem;
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #34701c;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1.3rem;
  font-family: 'Noto Sans', sans-serif;
  color: #34701c;
  margin-bottom: 2rem;
}

footer a {
  text-decoration: none;
  color: #63954f;
}

@media all and (min-width: 768px) {
  .totals h2 {
    width: 70%;
  }
  .totals .world-report,
  .totals .country-report {
    width: 70%;
  }
  .deaths-by-age .deaths-by-age-container {
    width: 70%;
  }
  .refresh .refresh-container {
    width: 70%;
  }
  .refresh .refresh-left .last-refresh-time {
    font-size: 1.1rem;
  }
  .refresh .refresh-right {
    font-size: 1.1rem;
  }
}

@media all and (min-width: 1024px) {
  nav h1 {
    font-size: 5rem;
  }
  .loading-content {
    top: 11rem;
  }
  .totals h2 {
    width: 60%;
    font-size: 2.5rem;
  }
  .totals .world-report,
  .totals .country-report {
    width: 60%;
  }
  .totals .world-data,
  .totals .country-data {
    font-size: 2rem;
  }
  .deaths-by-age .deaths-by-age-container {
    width: 60%;
  }
  .deaths-by-age .deaths-by-age-container .deaths-by-age-title {
    font-size: 2.5rem;
  }
  .refresh .refresh-container {
    width: 60%;
  }
}

@media all and (min-width: 1360px) {
  main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .totals h2 {
    width: 35%;
    font-size: 3rem;
  }
  .totals .world-report,
  .totals .country-report {
    width: 35%;
  }
  .totals .world-data,
  .totals .country-data {
    font-size: 2.5rem;
  }
  .deaths-by-age .deaths-by-age-container {
    width: 35%;
  }
  .deaths-by-age .deaths-by-age-container .deaths-by-age-title {
    font-size: 3rem;
  }
  .deaths-by-age .deaths-by-age-container .range {
    font-size: 1.2rem;
  }
  .refresh .refresh-container {
    width: 35%;
  }
  .table .header-container .header-row .header {
    min-width: 10rem;
    max-width: 10rem;
    height: 4rem;
    font-size: 1.3rem;
  }
  .table .data-container .data-row .cell {
    min-width: 10rem;
    max-width: 10rem;
    height: 4rem;
    font-size: 1.3rem;
  }
}
/*# sourceMappingURL=style.css.map */