@import './variables';

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2rem 0;
  h1 {
    font-size: 3rem;
    font-family: 'Bitter', sans-serif;
    line-height: 3rem;
    margin-left: 1rem;
    color: $primaryColor;
  }
  img {
    height: 3rem;
  }
}

.world-report {
  display: flex;
  width: 100%;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.total,
.active-cases,
.closed-cases {
  display: flex;
  flex-direction: column;
  width: 80%;
  border-bottom: 1px solid $terciaryColor;
  align-items: center;
}

main {
  display: flex;
  //justify-content: center;
}

.table {
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans', sans-serif;
  border: 1px solid $terciaryColor;
  margin: 2rem;

  .header-container {
    display: flex;
    flex-direction: column;
    .header-row {
      display: flex;
      flex-direction: row;
    }

    .header {
      min-width: 8rem;
      max-width: 8rem;
      height: 3rem;
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: left;
      padding: 0 0.5rem;
      cursor: pointer;
      border: 1px solid $terciaryColor;
      background-color: #fff;

      .order {
        padding-left: 1rem;

        img {
          width: 1rem;
        }
      }
    }
  }
  .data-container {
    display: flex;
    flex-direction: column;

    .data-row {
      display: flex;
      flex-direction: row;
      width: 100%;

      .cell {
        min-width: 8rem;
        max-width: 8rem;
        height: 3rem;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid $terciaryColor;
      }
    }
  }
}

.data-row:nth-child(odd) {
  background-color: $primaryColor;
}
.data-row:nth-child(even) {
  background-color: $secondaryColor;
}

.error-message {
  width: 100%;
  font-size: 3rem;
  margin-top: 2rem;
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif;
  color: $primaryColor;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media all and(min-width: 1360px) {
  main {
    justify-content: center;
  }
}
