@import './variables';

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  h1 {
    font-size: 3rem;
    font-family: 'Bitter', sans-serif;
  }
}

main {
  display: flex;
  justify-content: center;
}

table {
  width: 60%;
  font-family: 'IBM Plex Sans', sans-serif;
  //border-collapse: collapse;
}
th div {
  display: flex;
  align-content: center;
  justify-content: space-between;
  font-size: 2rem;
  padding: 0.1rem 0.3rem 0.1rem 0.1rem;
  .order i {
    cursor: pointer;
  }
}

td {
  font-size: 1.8rem;
  text-align: center;
  height: 4rem;
}

tr:nth-child(odd) {
  background-color: #fff;
}
tr:nth-child(even) {
  background-color: #ddd;
}

tr:nth-child(odd):hover {
  background-color: #eee;
}
tr:nth-child(even):hover {
  background-color: #ccc;
}
